extends ../layout

block content
    .container
        .row
            .col-md-8
                .alert.alert-success
                    span 用户名 m 密码 m 欢迎测试
        .row
            .col-md-8
                    span can't find